html, body {
  height: 100%;
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
}
.main_content {
  padding-top: 20px;
  min-height: 92%;
  margin-bottom: -50px;
}
.footer_push {
  height: 100px;
}
.footer {
  border-top: 1px solid #E1E1E1;
  padding-top: 15px;
  font-weight: 600;
  font-size: 12px;
  color: #555555;
}
.text-center {
  text-align: center;
}
.question_row {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E1E1E1;
}
.th_exam {
  width: 60%;
}
.option_label_body {
  margin-left: .5rem;
  font-weight: 400;
}
.show_space {
  white-space: pre;
}
.question_codes {
  margin-left: 40px;
}
.question_row ul {
  list-style-type: none;
}
table.table_bordered th, table.table_bordered td {
  border: 1px solid #E1E1E1;
  padding: 10px;
}
.wrong {
  color: #FC0815;
  font-size: 15px;
}
.correct {
  color: #22823A;
  font-size: 15px;
}
.wrong_text_color {
  color: #FC0815;
}
.correct_text_color {
  color: #22823A;
}
.question_options {
  margin-bottom: 10px;
  padding: 10px;
}
.option_label {
  display: inline;
}
.bottom_border {
  border-bottom: 1px solid #E1E1E1;
}
.question_number {
  margin-bottom: 15px;
}
.question_number h1 {
  line-height: 0.7;
}
.has_error {
  border: 1px solid #FC0815 !important;
}
.error_block {
  color: #FC0815;
  margin-top: -10px;
  font-size: 12px;
}
a:visited, a:link, a{
  color: #222;
  text-decoration: none;
  border-bottom: 1px dotted #000000;
}
a:hover {
  color: #0145FE;
}
a.button:hover,
input[type=submit].button:focus,
input[type=reset].button:focus,
input[type=button].button:focus,
button.button:focus,
button.button:hover,
input[type=submit].button:hover,
input[type=reset].button:hover,
input[type=button].button:hover {
  color: #FFF;
  background-color: #0145FE;
  border-color: #0145FE;
}
.button.button-primary,
button.button-primary,
input[type=submit].button-primary,
input[type=reset].button-primary,
input[type=button].button-primary {
  background-color: #0145FE;
  border-color: #0145FE;
}
input[type=tel]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {
  border-color: #456BE6;
}
.theme_color{
  color: #0145FE;
}

/* NAVBAR styles BEGIN */
.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-bottom: 1px solid #eee;
}
.navbar-list {
  list-style: none;
  margin-bottom: 0;
}
.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}
a.navbar-link:hover, a.navbar-link:visited, a.navbar-link:link  {
  color: #0145FE;
  border-bottom: none;
}
/* NAVBAR styles END */
