html, body {
  height: 100%;
  margin: 0;
}
.container {
  padding-top: 50px;
  min-height: 100%;
  margin-bottom: -50px;
}
.footer {
  height: 50px;
  border-top: 1px solid #E1E1E1;
  padding-top: 10px;
}
.footer_push {
  height: 100px;
}
.text-center {
  text-align: center;
}
.question_row {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E1E1E1;
}
.th_exam {
  width: 75%;
}
.option_label_body {
  margin-left: .5rem;
  font-weight: 400;
}
.show_space {
  white-space: pre;
}
.question_codes {
  margin-left: 40px;
}
.question_row ul {
  list-style-type: none;
}
table.table_bordered th, table.table_bordered td {
  border: 1px solid #E1E1E1;
  padding: 10px;
}
.wrong {
  color: #FC0815;
  font-size: 15px;
}
.correct {
  color: #22823A;
  font-size: 15px;
}
.wrong_text_color {
  color: #FC0815;
}
.correct_text_color {
  color: #22823A;
}
.question_options {
  margin-bottom: 10px;
  padding: 10px;
}
.option_label {
  display: inline;
}
.bottom_border {
  border-bottom: 1px solid #E1E1E1;
}
